body{
    margin: 0 auto;
    border-left: 180px solid #ebe3e3;
    border-right: 180px solid #ebe3e3;
    border-top: 20px solid #ebe3e3;
    border-bottom: 220px solid #ebe3e3;
    font-family: 'Open Sans', sans-serif;
    font-size: 12;
    color: #606060;
}


nav {
    padding: 35px;
    background: #f3f0f0;
    text-align: right;
    
    
}

nav > a{
    
    color: #606060;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
    
}

nav img{
    border: grey 10px solid;
    width: 25px;
    height: 25px;
    border: none;
}

header{
    height: 100px;
}


.parrafo{
    text-align: center;

}


.titulo1{
    text-align: center;
    font-size: 30px;
    color: #606060;
}

.producto{
    margin-left: 105px;
    margin-top: 200px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-producto{
    width: 30%;
    height: 300px;  
}

.imagen-producto img{
    border: solid black 5px;
    width: 40%;
    height: 40%;
    object-fit: cover;
    display: block;
}

.textos{
    position: relative;
    left: 260px;
    bottom: 915px;
    display: flex;
    flex-wrap: wrap;
}

.texto-producto{
    width: 30%;
    height: 300px;
}

.texto-producto p{
    font-size: 15px;
}



footer{
    text-align: center;
    margin-top: -1000px;
}
.content-foo a{
    color: #606060;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
