body{
    margin: 0 auto;
    border-left: 180px solid #ebe3e3;
    border-right: 180px solid #ebe3e3;
    border-top: 20px solid #ebe3e3;
    border-bottom: 220px solid #ebe3e3;
    font-family: 'Open Sans', sans-serif;
    font-size: 12;
    color: #606060;
}


nav {
    padding: 35px;
    background: white;
    text-align: right;
    
    
}

nav > a{
    
    color: #606060;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
    
}

nav img{
    border: grey 10px solid;
    width: 25px;
    height: 25px;
    border: none;
}

header{
    height: 100px;
}


.parrafo{
    margin-right: 315px;
    text-align: right;
    margin-top: -10px;


}


.titulo1{
    margin-right: 200px;
    text-align: right;
    font-size: 30px;
    color: #606060;
}

.imagen-producto{
    margin-bottom: -850px;
}

.linea0{
    background-color: #ebe3e3;
    height: 1px;

}

.linea1{
    margin-top: 40px;
    background-color: #ebe3e3;
    height: 1px;
    position: relative;
    width: 400px;
    margin-left: 500px;
    
}

.linea3{
    background-color: #ebe3e3;
    height: 1px;
   
}

.descripcion-producto{
   
    position: relative;
    width: 400px;
    margin-left: 500px;
    
}

.busco-producto{
    margin-top: 30px;
    position: relative;
    width: 400px;
    margin-left: 500px;
}

.linea2{
    margin-top: 60px;
    width: 90px;
    margin-left: 1px;
    background-color: #ebe3e3;
    height: 1px;
}

.btnAgregar{
    margin-top: 10px;
    color: white;
    background-color: rgb(83, 83, 83);
    height: 40px;
    width: 122px;
    margin-left: 500px;

}

.imagen-producto{
    width: 45%;
    height: 1000px;  
}

.imagen-producto img{
    width: 105%;
    height: 46%;
    object-fit: cover;
    
}

.imagen{
    margin-top: 10px;
    border: solid 1px #ebe3e3;
}

footer{
    text-align: center;
    margin-top: 37px;
}
.content-foo a{
    color: #606060;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
