body{
    margin: 0 auto;
    border-left: 180px solid #ebe3e3;
    border-right: 180px solid #ebe3e3;
    border-top: 20px solid #ebe3e3;
    border-bottom: 220px solid #ebe3e3;
    font-family: 'Open Sans', sans-serif;
    font-size: 12;
    color: #606060;
}


nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #606060;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
}

nav img{
    border: grey 10px solid;
    width: 25px;
    height: 25px;
    border: none;
}

header{
    height: 100px;
}

.texto-header{
    padding: 30px;
    background: #f3f0f0;
    text-align: center;
    margin-top: 33px;
}

.linea1{
    width: 250px;
}

.titulo1{
    font-size: 20px;
    color: #606060;
}

p{
    margin-top: 150px;
    text-align: center;

}

form{
    margin-top: 50px;
    text-align: center;
    display: block;

}

.nombre-producto{
    width: 150px;
    margin-right: 400px;
    padding: 5px;
}

textarea{   
    margin-left: 20px;
}

.direccion-url{
    width: 570px;
    margin-left: 20px;
    padding: 5px;
}

.linea2{
    margin-top: 25px;
    width: 650px;
}

.botones-form{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 350px;
    margin-bottom: -600px;
    margin-top: -315px;
}

.btn1{
    color: white;
    width: 140px;
    padding: 9px;
    background-color: grey;
}

.btn2{
    width: 140px;
    padding: 9px;
}


footer{
    text-align: center;
    margin-top: 300px;
}
.content-foo a{
    color: #606060;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}


.nombre-producto{
    margin-left: -2px;
}