body{
    margin: 0 auto;
    border-left: 180px solid #ebe3e3;
    border-right: 180px solid #ebe3e3;
    border-top: 20px solid #ebe3e3;
    border-bottom: 220px solid #ebe3e3;
    font-family: 'Open Sans', sans-serif;
    font-size: 12;
    color: #606060;
}


nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: #606060;
    font-weight: 400;
    text-decoration: none;
    margin-right: 20px;
}

nav img{
    border: grey 10px solid;
    width: 25px;
    height: 25px;
    border: none;
}

header{
    height: 100px;
}

.texto-header{
    padding: 30px;
    background: #f3f0f0;
    text-align: center;
    margin-top: 33px;
}

.linea1{
    width: 250px;
}

.titulo1{
    font-size: 20px;
    color: #606060;
}

form{
    text-align: center;
    margin-top: 200px;
}

.first-name{
    padding: 10px;
    width: 250px;
}

.last-name{
    padding: 10px;
    width: 250px;
}

.address{
    width: 530px;
    padding: 10px;
    
}

.address2{
    width: 530px;
    padding: 10px;
}

.country{
    padding: 10px;
    width: 276px;
}

.city{  
    padding: 10px;
    width: 250px;
}
.texto-correo{
    padding: 10px;
    width: 253px;
}


input[type="password"]
{
    padding: 10px;
    width: 252px;
    
}

.texto-linea-form{
    font-size: 12px;
    margin-top: 50px;
    text-align: center;
    margin-bottom: -300px;
}

.linea2{
    width: 560px;
    
}

.texto-linea-form p{
    margin-right: 300px;
}

.bontones-form{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 350px;
    margin-bottom: -600px;
}

.btn1{
    color: white;
    width: 140px;
    padding: 9px;
    background-color: grey;
}

.btn2{
    width: 140px;
    padding: 9px;
}


footer{
    text-align: center;
    margin-top: 300px;
}
.content-foo a{
    color: #606060;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}